<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Railway Exercise">
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="TestPackage.BookTicketTest"/>
	  <class name="TestPackage.LoginTest"/>
	  <class name="TestPackage.LogoutTest"/>
	  <class name="TestPackage.CreateAccountTest"/>
	  <class name="TestPackage.ResetPasswordTest"/>
	  <class name="TestPackage.CancelBookingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
